:root {
    --site-header : #383c46;
    --site-main-background: #ffffff;
    --site-color-font: antiquewhite;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: var(--site-color-font);
}

header {
    max-width: 1440px;
    min-height: fit-content;
    color: var(--site-color-font);
    background-color: var(--site-header);
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

header>div {
    margin: 15px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

header>div>picture>a>.logo {
    width: 50px;
}

.container {
    max-width:  100%;
}
 main>section>article>.divider {
    
    width: 100%;
    height: 0.1rem;
    border: 3px solid red;
    border-radius: 20px;
    margin: 15px;
 }

footer {
    width: 100%;
    padding: 20px;
    color: var(--site-color-font);
    background-color: var(--site-header);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

footer>section {
    width: 100%;
}

@media (max-width:1024px) {


    main>.nuevos {
        max-width: 1440px;
        height: fit-content;
        background-size: cover;
        background-repeat: no-repeat;
        color: var(--site-color-font);
        background-position:bottom center;
        background-image: url(../multimedia/funkos-banner.webp);
    }

    main>.card {
        display: flex;
        flex-direction: column;
    }

    main>.card>.card-img>img {
        width: 100%;
    }           

    main>section>.lanzamientos>.card>.card-img>img {
        width: 50%;
    }
}



@media (min-width:1024px) {

    body>main>.nuevos {
        max-width: 1440px;
        height: 400px;
        background-size: cover;
        background-repeat: no-repeat;
        color: var(--site-color-font);
        background-position:center center;
        background-image: url(../multimedia/funkos-banner.webp);
    }
    body>main>.nuevos>article {       
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    body>main>.card{
        width: 60%;
        height: 350px;
        margin-left: 20%;
        margin-bottom: 15px;
        margin-top: 15px;
    }
    body>main>.card>.card-body {
        max-width: 75%;
        height: max-content;
    }
    body>main>.card>.card-img {
        width: 50%;
    }

    body>main>.card>.card-img>img {
        width: 100%;
    }

}
