:root {
    --site-header : #383c46;
    --site-main-background: #ffffff;
    --site-color-font: antiquewhite;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: var(--site-color-font);
}

body>header {
    max-width: 1440px;
    min-height: fit-content;
    color: var(--site-color-font);
    background-color: var(--site-header);
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}
body>header>div {
    margin: 15px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
body>header>div>picture>a>.logo {
    width: 50px;
}

body>.container {
    max-width: 1440px;
}
body>main>.nuevos {
    max-width: 1440px;
    height: 388px;
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--site-color-font);
    background-position:bottom center;
    background-image: url(../multimedia/funkos-banner.webp);
}
body>main>.card {
    
}
