:root {
    --site-header: #383c46;
    --site-main-background: #ffffff;
    --site-color-font: antiquewhite;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
input {
    width: fit-content;
    text-align: center;
    
    border-color:  rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) red rgba(255, 255, 255, 0);
    margin: 7px;
}
.formulario>form {
    background-image:linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(2, 2, 2, 0.5)), url(../multimedia/funkos-banner.webp);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

a {
    text-decoration: none;
    color: var(--site-color-font);
}

header>nav {
    max-width: 1440px;
    min-height: fit-content;
    color: var(--site-color-font);
    background-color: var(--site-header);
}

header>nav>div>picture>a>.logo {
    width: 50px;
}

.container {
    max-width: 1440px;
}

.bandeja {
    width: 100%;
    height: fit-content;
    background-image:linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(2, 2, 2, 0.5)),  url(../multimedia/funkos-banner.webp);
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 5px;
}


.bandeja>.listaBandeja {
    width: 100%;
    height: fit-content;
    border: 3px solid white;
    background-color: var(--site-main-background);
}



.formulario {
    
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}


main>section>article>.divider {

    width: 100%;
    height: 0.1rem;
    border: 3px solid red;
    border-radius: 20px;
    margin: 15px;
}

footer {
    width: 100%;
    padding: 20px;
    color: var(--site-color-font);
    background-color: var(--site-header);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

footer>section {
    width: 100%;
}

@media (max-width:1024px) {


    main>.nuevos {
        max-width: 1440px;
        height: fit-content;
        background-size: cover;
        background-repeat: no-repeat;
        color: var(--site-color-font);
        background-position: bottom center;
        background-image: url(../multimedia/funkos-banner.webp);
    }
    .bandeja>.listaBandeja>.tarjeta {
        width: 50%;
        height: 25%;
        border: 3px solid black;
        border-radius: 25px;
        margin: 3px 0px;
        padding: 4px;
    }

 

    .bandeja>.listaBandeja>article>article>picture>img {
        width: 25%;
    }

    main>.card {
        display: flex;
        flex-direction: column;
    }

    main>.card>.card-img>img {
        width: 100%;
    }

    main>section>.lanzamientos>.card>.card-img>img {
        width: 50%;
    }

    main>div>aside {
        display: none;
    }


    main>div>section>.card {
        width: 100%;
    }

    main>div>section>.card>picture>img {
        width: 100%;
    }

    main>.pagination>div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    /* Card item box-modeling */
    main>section>.card {
        width: 100%;
        height: fit-content;
    }

    main>section>article>picture>img {
        width: 100%;

    }

    main>section>picture>img {
        width: 100%;
    }


}



@media (min-width:1024px) {

    main>.nuevos {
        max-width: 1440px;
        height: 400px;
        background-size: cover;
        background-repeat: no-repeat;
        color: var(--site-color-font);
        background-position: center center;
        background-image:linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(2, 2, 2, 0.5)), url(../multimedia/funkos-banner.webp);
    }
    .bandeja>.listaBandeja>.tarjeta {
        width: 100%;
        height: fit-content;
        border: 3px solid black;
        border-radius: 25px;
        margin: 3px 0px;
        padding: 2px;
    }
    .bandeja>.listaBandeja>.tarjeta>picture>img {
        height: fit-content;
        width: 50%;
        
    }
    


    main>.formulario>form>fieldset {
        width: fit-content;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    main>.formulario>form>.datos {
        border: 3px black solid;
        
    }

    main>.nuevos>article {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    header>nav {
        max-width: 1440px;
        min-height: fit-content;
        color: var(--site-color-font);
        background-color: var(--site-header);
    }

    header>nav>div {
        display: flex;
        flex-direction: row-reverse;
    }



    /* card del index */
    body>main>.card {
        width: 60%;
        height:fit-content;
        margin-left: 20%;
        margin-bottom: 15px;
        margin-top: 15px;
    }

    body>main>.card>.card-body {
        max-width: 75%;
        height: max-content;
    }


    body>main>.card>.card-img-top>img {
        width: 100%;
    }

    /* Fin de card de index */





    /* card del shop */
    main>div>section>.card {
        width: 30%;
    }

    main>div>section>.card>picture>img {
        width: 100%;
    }

    /* Fin de card de shop */
    main>.oportunidades {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: stretch;
    }

    main>section>.card{
        width: 30%;
    }

    main>section>.card>picture>img {
        width: 100%;
    }
    .ident {
        width: 75px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .code {
        width: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .name {
        width: 200px;
        display: flex;
        align-items: center;
        justify-content: start;
        
    }
    .category {
        width: 200px;
        display: flex;
        align-items: center;
        justify-content: center;

    }

}